version: '3.8'

services:
  web:
    build: .
    container_name: lapismyt-web
    restart: unless-stopped
    volumes:
      - .:/app
    expose:
      - "8000"
    networks:
      - app-network
    environment:
      - PYTHONUNBUFFERED=1

  nginx:
    image: nginx:alpine
    container_name: lapismyt-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/logs:/var/log/nginx
    networks:
      - app-network
    depends_on:
      - web
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

networks:
  app-network:
    driver: bridge
